<%= form_with(model: @comment, local: true) do |form| %>
  <p>
     <%= form.hidden_field :user_email , :value =>  current_user.email%>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
