<div class="main_form">

<%= form_with(model: post, local: true ,html:{multipart:true}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title_input">
   <h3> <%= form.label :title %> </h3>
    <%= form.text_field :title %>
  </div>
<div class="title_input">
    <h3><%= form.label :image %></h3>
    <%= form.file_field :image %>
  </div>
  <div class="body_input">
    <h3><%= form.label :body %></h3>
    <%= form.text_area :body %>
  </div>
<div class="select">
  <h3><%= form.label :category_list, "Category" %></h3>
<%= form.select(:category_list, options_for_select([['Python', 'Python'], ['C++', 'C++'],['Java', 'Java'],['Ruby', 'Ruby']]), { include_blank: false }) %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
